<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjjc.information.dao.DataInitDao">

	<select id="get" resultType="com.hjjc.information.domain.DataInitDO">
		select `id`,`data`,`add_time` from t_data_init where id = #{value}
	</select>

	<select id="list" resultType="com.hjjc.information.domain.DataInitDO">
		select `id`,`data`,`add_time` from t_data_init
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="data != null and data != ''"> and data = #{data} </if>
		  		  <if test="addTime != null and addTime != ''"> and DATE_FORMAT(add_time,'%Y-%m-%d')  = #{addTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_data_init
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="data != null and data != ''"> and data = #{data} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.hjjc.information.domain.DataInitDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_data_init
		(
			`data`, 
			`add_time`
		)
		values
		(
			#{data}, 
			#{addTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.hjjc.information.domain.DataInitDO">
		update t_data_init 
		<set>
			<if test="data != null">`data` = #{data}, </if>
			<if test="addTime != null">`add_time` = #{addTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_data_init where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_data_init where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>