<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjjc.information.dao.DeviceDao">

	<select id="get" resultType="com.hjjc.information.domain.DeviceDO">
		select `id`,user_id,user_name,`identity`,`name`,`type`,`addtime` from t_device where id = #{value}
	</select>

	<select id="list" resultType="com.hjjc.information.domain.DeviceDO">
		select `id`,user_id,user_name,`identity`,`name`,`type`,`addtime` from t_device
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="identity != null and identity != ''"> and identity = #{identity} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
			      <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_device
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="identity != null and identity != ''"> and identity = #{identity} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
			 <if test="userId != null and userId != ''"> and user_id = #{userId} </if>

		 </where>
	</select>
	 
	<insert id="save" parameterType="com.hjjc.information.domain.DeviceDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_device
		(
			`identity`, 
			`name`, 
			`type`, 
			`addtime`,
			user_id,
			user_name
		)
		values
		(
			#{identity}, 
			#{name}, 
			#{type}, 
			#{addtime},
			#{userId},
			#{userName}
		)
	</insert>
	 
	<update id="update" parameterType="com.hjjc.information.domain.DeviceDO">
		update t_device 
		<set>
			<if test="identity != null">`identity` = #{identity}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="addtime != null">`addtime` = #{addtime},</if>
			<if test="userId != null">`user_id` = #{userId},</if>
			<if test="userName != null">`user_name` = #{userName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_device where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_device where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>